<style>
    .results {
        padding: 10px;
    }
    .thumbnail {
        height: 450px;
    }
</style>
<h3> Search a store location </h3>


<div class="row">
    <form ng-submit="$ctrl.search();">
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="$ctrl.searchValue">
                    <span class="input-group-btn">
                    <input value="Search" class="btn btn-primary" type="submit" />
                </span>
            </div>
        </div>
    </form>

</div>
<div class="results">
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="store in $ctrl.results">
            <div class="thumbnail">
                <img ng-src="{{store.picture}}" alt="{{store.name}}">
                <div class="caption">
                    <h3>{{store.name}}</h3>
                    <p>{{store.address}} {{store.city}}, {{store.state}} {{store.zip}}</p>
                    <p>Phone: <a href="tel:{{store.phone}}">{{store.phone}}</a></p>
                    <p>
                        <a ui-sref="store({storeId: store.id})" class="btn btn-primary" role="button">See Products</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
