<!DOCTYPE html>
<html>

<head>
	<title>Foodies layout</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--STYLES-->
	<link rel="stylesheet" href="/styles/bootstrap.css">
	<link rel="stylesheet" href="/styles/importer.css">
	<!--STYLES END-->
    <script src="/js/dependencies/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    
	<style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
        .navbar {
          margin-bottom: 50px;
          border-radius: 0; border-color: #EAECEE;
          background-color: transparent;
          font-family: lobster; font-size: 150%; font-style: oblique;
          color:#000000;
        }

        /* Remove the jumbotron's default bottom margin */
         .jumbotron {
          margin-bottom: 0;
          background-color: transparent;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
          background-color: #EAECEE;
          padding: 25px;
        }
        body{
          background-color: #34495E;
          font-family: lobster; color: #EAECEE; font-size: 200%;
        }
	</style>
</head>

<body ng-app="myApp">
	<div class="jumbotron">
		<div class="container text-center">
			<h1 style="font-family: lobster; font-size: 600%; color: #EAECEE">Foodies</h1>
			<p style="font-family: lobster; font-size: 200%; color: #EAECEE">Shop Smarter, Faster, Cheaper</p>
		</div>
	</div>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button> <a class="navbar-brand" href="#">Logo</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a ui-sref="home">Home</a>
					</li>
					<li><a ui-sref="about">Products</a>
					</li>
					<li><a ui-sref="deals">Deals</a>
					</li>
					<li><a ui-sref="stores">Stores</a>
					</li>
					<li><a ui-sref="contact">Contact</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a>
					</li>
					<li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Lists</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
    <%- body %>
    <footer class="container-fluid text-center">
        <p>Online Store Copyright</p>
        <form class="form-inline">Get deals:
            <input type="email" class="form-control" size="50" placeholder="Email Address">
            <button type="button" class="btn btn-danger">Sign Up</button>
        </form>
    </footer>
    <script src="/js/dependencies/layout.js"></script>
    <script src="/js/store/stores.component.js"></script>
    <script src="/js/store/store.component.js"></script>
</body>

</html>
