<div class="container">
 <h3> Catalog Numbers </h3>
 <table class='table'>
   <tr>
      <th> Store ID </th>
      <th> Catalog Number</th>
      <th> </th>
      <th> </th>
      <th> </th>
      <th> </th>
      <th> </th>
      </tr>

      <% _.each(catalogid, function(catalogid){ %>
         <tr data-id="<%= catalogid.StoreNo %>" data-model="catalogid">
         <td><%= catalogid.StoreNo %></td>
         <td><%= catalogid.CatalogNo%></td>
      <% }) %>
      </table>
   </div